<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- spring security 에서만 사용되는 mapper -->
<mapper namespace="com.example.bootthymeleaf.repo.SpringSecurityRepo">
    <select id="findListByUserId" parameterType="String" resultType="com.example.bootthymeleaf.vo.UserInfo">
        SELECT
            idx,
            user_id,
            pwd,
            reg_dtm
        FROM
            user_info
        WHERE
            user_id = #{user_id}
    </select>

    <select id="findByUserId" resultType="com.example.bootthymeleaf.vo.UserInfo">
        SELECT
            idx,
            user_id,
            pwd,
            reg_dtm
        FROM
            user_info
        WHERE
            user_id = #{user_id}
    </select>
</mapper>