<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/dialect_layout}" lang="ko">
<head>
    <title>Task1111 List</title>
    <!-- 해당 페이지에서만 필요한 css,js -->
    <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet"/>
    <script th:src="@{/js/sample1.js}"></script>
</head>
<body>

<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <form th:action="@{/perform_login}" method="POST">
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus/>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <a th:href="@{/oauth2/authorization/naver}">네이버 OAuth 로그인</a>
</div>
</body>
</html>